<h1>The Big Map of Startups</h1>
<style>
  .full-width {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
</style>
<div class="full-width">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>


<script>
function initMap() {
  var myLatLng = {lat: -25.363, lng: 131.044};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}
</script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
