<div class="panel panel-default">
  <div class="panel-body">
  	<p>Answered by: <%= answer.user.profile.name %></p>
  	<p><%= answer.content %>
  	<p><strong>Upvotes: </strong></p>
  </p>
</div>
</div>