<div class="panel panel-default">
	<div class="panel-body">
		<h5>Reviewed by: <%= review.user.profile.name %></h5>
		<p>Rating: <%= review.rating %></p>
		<p>Review:</p>
		<p><%= review.content %></p>
	</div>
</div>